body{
    margin: 0px;
    background: #E6E6E6;
}

div, p, td, form, ul {
    font-size: 11px;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

img {
    border: 0px;
}

a {
    font-size: 11px;
    font-family: Arial;
    color: #000000;
}

 .ml1{
 font-size: 12px;
 font-family: Verdana;
 color: #FFFFFF;
 text-decoration: none
 }
 .ml111{
 font-size: 12px;
 font-family: Verdana;
 color: #743954;
 text-decoration: none
 }


 .ml2{
 font-size: 10px;
 font-family: Tahoma;
 color: #000000;
 font-weight: bold;
 text-decoration: none
 }

 .ml3{
 font-size: 13px;
 font-family: Arial;
 color: #FFFFFF;
 text-decoration: none
 }

/*
.ml3b{
 font-size: 13px;
 font-family: Arial;
 color: #000000;
 text-decoration: none
 }
*/


 .ml4-2{
 font-size: 11px;
 font-family: Tahoma;
 color: #743954;
 text-decoration: none
 }


 .ml41{
 font-size: 10px;
 font-family: Arial;
 color: #FFFFFF;
 text-decoration: none
 }

 .ml4-W12{
 font-size: 12px;
 font-family: Arial;
 color: #FFFFFF;
 text-decoration: none
 }

 .ml4-b12-bold{
 font-size: 12px;
 font-family: Arial;
 color: #000000;
font-weight: bold;
 text-decoration: none
 }

 .ml4-b12{
 font-size: 12px;
 font-family: Arial;
 color: #000000;
 text-decoration: none
 }

 .ml4-b12-b{
 font-size: 12px;
 font-family: Arial;
 color: #743954;
font-weight: bold;
 text-decoration: none
 }

.ml4-w {
    font-size: 11px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none
}

 .ml5{
 font-size: 11px;
 font-family: Tahoma;
 color: #CDCFCF;
font-weight: bold;
 text-decoration: none
 }

.border{
border: #D3D3D3 1px solid;
}

.border_left{
border-left: #FFFFFF 2px solid;
}

.border-b{
border-bottom: #B498A5 1px dotted;
}

.border-b2{
border-bottom: #FFFFFF 2px solid;
}

 .border-top{
border-top: #C4C4C4 1px solid;
}

.b1{
border-bottom:1px dotted black;
border-right:1px dotted black;
}
.b2{
border-bottom:1px dotted black;
}
.b3{
border-right:1px dotted black;
}

.se2{             
 width: 133px;
 height: 18px;
 font-size: 11px;
 color: #FFFFFF;
 background: #6B394E;
 border: #896579 1px solid;
 }

.marks{
font-size: 9px;
 font-family: Tahoma;
 color: #FFD307;
font-weight: bold;
 text-decoration: none
 }

.se{
  width: 157px;
  height: 18px;
  font-size: 9px;
  color: #282E3E; 
 }
 
 
/* New */

div.body {
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
}

div.top_static_menu {
    width: 495px;
    padding-left: 6px;
    padding-top: 4px;
    height: 21px;
    float: left;
}

div.login_menu {
    width: 494px;
    height: 20px;
    padding-top: 5px;
    padding-right: 6px;
    margin-left: 501px;
    text-align: right;
}

div.head_container {
    width: 1004px;
}

div.head_container div {
border: 0px;
}

div.logo_container {
    background: url(/images/m1.gif) no-repeat top left;
    float: left;
    width: 307px;
    height: 121px;
}

div.logo {
    padding-top: 32px;
    padding-left: 26px;
}

div.logo a {
    font-size: 26px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none
}

div.login_container {
    background: url(/images/m1-1.gif) repeat-x top left;
    width: 694px;
    height: 121px;
    margin-left: 307px;
}

div.login_container div.login_form {
    background: url(/images/m1-2.gif) no-repeat top right;
    width: 254px;
    height: 70px;
    padding-top: 14px;
    padding-left: 440px;
}

div.login_container div.search_form {
    width: 254px;
    height: 37px;
    padding-left: 440px;
}

div.copyright {
    text-align: center;
}

div.columns {
    padding-top: 5px;
}

div.column_left {
    float: left;
    width: 228px;
}

div.column_center {
    width: 768px;
    padding-left: 5px;
    margin-left: 228px;
}

div.message {
    color: #08a208;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    padding-top: 5px;
    height: 18px;
    text-align: center;
    border: #08a208 1px solid;
}

/*** BOX STYLES ***/

div.box {
    width: 228px;
}

/* box header */

div.box_header {
    width: 228px;
}

div.box_header div.corner_left {
    background: url(/images/m21.gif) repeat-y top left;
}

div.box_header div.content {
    background: url(/images/m22.gif) repeat-x;
    width: 191px;
    height: 22px;
    padding-left: 25px;
    padding-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px;
    font-family: Arial;
    color: #000000;
}

div.box_header div.corner_right {
    background: url(/images/m23.gif) repeat-y top right;
}

/* box content */

div.box_content {
    width: 228px;
}

div.box_content div.corner_left {
    background: url(/images/bord1.gif) repeat-y top left;
}

div.box_content div.content {
    background: #6D3A51;
    width: 224px;
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFFF;
}

div.box_content div.corner_right {
    background: url(/images/bord2.gif) repeat-y top right;
}

/* box footer */

div.box_footer {
    width: 228px;
}

div.box_footer div.corner_left {
    background: url(/images/m26.gif) no-repeat top left;
}

div.box_footer div.content {
    background: url(/images/m27.gif) repeat-x;
    width: 216px;
    height: 7px;
    margin-left: 6px;
    margin-right: 6px;
}

div.box_footer div.corner_right {
    background: url(/images/m28.gif) no-repeat top right;
}

div.box_separator {
    padding-top: 5px;
}

/********************/

/* categories tree */

ul.categories_tree {
    list-style: none;
    padding-bottom: 5px;
    margin: 0px;
    padding-left: 0px;
    width: 224px;
    background: #6D3A51;
}

ul.categories_tree li {
    background: url(/images/dotted3.gif) repeat-x left bottom;
    width: 183px;
    padding: 10px 6px 5px 15px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.categories_tree a {
    font-size: 12px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none;
}

/*** CONTAINER STYLES ***/

div.container {
    width: 768px;
    background: #fafafa;
}

/* container header */

div.container_header {
    width: 768px;
}

div.container_header div.corner_left {
    background: url(/images/m21.gif) repeat-y top left;
}

div.container_header div.content {
    background: url(/images/m22.gif) repeat-x;
    width: 731px;
    height: 22px;
    padding-left: 25px;
    padding-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px;
    font-family: Arial;
    color: #000000;
}

div.container_header div.corner_right {
    background: url(/images/m23.gif) repeat-y top right;
}

/* container content */

div.container_content {
    width: 768px;
}

div.container_content div.corner_left {
    background: url(/images/bord1.gif) repeat-y top left;
}

div.container_content div.content {
    background: url(/images/m34.gif) repeat-x;
    width: 744px;
    padding: 15px 10px 10px 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}

div.container_content div.main {
    padding-left: 10px;
    font-size: 12px;
}

div.container_content div.main div {
    font-size: 12px;
}

div.container_content div.content a {
    color: #874161;
}

div.container_content div.corner_right {
    background: url(/images/bord2.gif) repeat-y top right;
}

/* container footer */

div.container_footer {
    width: 768px;
}

div.container_footer div.corner_left {
    background: url(/images/m35.gif) no-repeat top left;
}

div.container_footer div.content {
    background: url(/images/m36.gif) repeat-x;
    width: 754px;
    height: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

div.container_footer div.corner_right {
    background: url(/images/m37.gif) no-repeat top right;
}


div.container_info .caption {
    float: left;
    font-size: 12px;
    font-weight: bold;
}

div.container_info .action {
    float: right;
}

/********************/

/*** PRODUCT LIST ***/

div.list_tabular {
    height: 160px;
}

div.list_tabular.left_colum {
    float: left;
    width: 350px;
    position: relative;
}

div.list_tabular.right_colum {
    margin-left: 360px;
    width: 350px;
}

div.list_tabular div.thumbnail {
    float: left;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.list_tabular div.details {
    margin-left: 100px;
    font-size: 12px;
    font-family: Arial;
}

.price {
    font-size: 13px;
    font-weight: bold;
    color: #743954;
}

.product_title {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #232323;
    text-decoration: none;
}

.add_to_cart {
    color: #743954;
    font-size: 10px;
    text-transform: uppercase;
}

div.full_details{
    min-height: 255px;
}


div.full_details div.thumbnail {
    float: left;
    width: 200px;
}

div.full_details div.details {
    width: 500px;
    margin-left: 200px;
    font-size: 12px;
    font-family: Arial;
}

.total_price {
    font-size: 16px;
    font-weight: bold;
    color: #743954;
}

/********************/

/*** FORM ***/

input, select, textarea {
    border: #896579 1px solid;
    color: #FFFFFF;
    background: #6B394E;
}

input.error, select.error {
    border: #d60d0d 1px solid;
    color: #000000;
    background: #f5a8a8;
}

form ul {
    padding-left: 0px;
    font-weight: bold;
    font-size: 12px;
}

form li {
    font-weight: bold;
    list-style: none;
    line-height: 28px;
}

form.form ul.main {
    height: auto;
}

form.form ul.main li {
}

form.form ul.main li.actions {
    margin-left: 155px;
}

form.form ul.main li.captcha {
    margin-left: 155px;
}

input.button {
    background: url(/images/bg_button.gif);
}

form.form div.label {
    font-size: 12px;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

form.form div.field {
    margin-top: -26px;
    margin-left: 155px;
    height: 28px;
}

form.form span.help {
    padding-left: 10px;
    font-size: 11px;
    color: #666666;
    font-weight: normal;
}

form.form ul.error {
    margin-left: 152px;
    width: 350px;
    display: block;
}

ul.error {
    width: 170px;
    color: #f21207;
    font-size: 11px;
    list-style: none;
    margin-bottom: 4px;
}

ul.error li {
    font-weight: bold;
    line-height: 15px;
    padding-left: 4px;
}

form.form_basket ul {
    padding-left: 0px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 20px;
    position: relative;
    display: block
}

form.form_basket ul.main {
    padding-left: 0px;
}

form.form_basket ul.error {
    padding-left: 0px;
}

form.form_currency div.label {
    width: 50px;
}

form.form_currency div.field {
    margin-top: -26px;
    margin-left: 60px;
    height: 28px;
}

form.form_currency select {
    width: 100px;
}

form.form_services ul.error {
    margin-left: 0px;
    width: 700px;
    display: block;
}

form.form_services label {
    font-size: 12px;
    float: none;
    font-weight: bold;
}

form.form_services ul.methods_list label {
    font-weight: normal;
}

form.form_confirm input[type="text"] {
    width: 250px;
}

/********************/

/*** ORDER, BASKET table ***/

table.list {
    background: url(/images/dotted2.gif) repeat-x bottom left;
    font-family: Arial;
    font-size: 12px;
}

table.list thead {
    background: url(/images/dotted.gif) repeat-y top right;
}

table.list tbody {
    background: url(/images/dotted.gif) repeat-y top right;
}

table.list tr {
    background: url(/images/dotted2.gif) repeat-x top left;
}

table.list th {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: url(/images/dotted.gif) repeat-y top left;
    height: 25px;
}

table.list td {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: url(/images/dotted.gif) repeat-y top left;
    height: 25px;
}


.basket_buttons {
    padding-top: 10px;
    padding-right: 20px;
}

/********************/

div.currency_form {
    padding: 10px;
}


/*** MENU ***/

div.menu_main {
    margin-left: 400px;
}

div.menu_main div.corner_left {
    background: url(/images/m7.gif) repeat-y top left;
}

div.menu_main div.content {
    background: url(/images/m8.gif) repeat-x;
    width: 980px;
    height: 22px;
    margin-left: 6px;
    margin-right: 7px;
    text-align: right;
    padding-top: 3px;
    padding-right: 9px;
}

div.menu_main div.corner_right {
    background: url(/images/m9.gif) repeat-y top right;
}

div.menu_bottom {
    width: 1001px;
    clear: both;
    padding-top: 5px;
}

div.menu_bottom div.corner_left {
    background: url(/images/m40.gif) repeat-y top left;
}

div.menu_bottom div.content {
    background: url(/images/m41.gif) repeat-x;
    width: 981px;
    height: 19px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    padding-top: 6px;
    padding-right: 9px;
    font-size: 11px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none
}

div.menu_bottom div.content a {
    font-size: 11px;
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none
}

div.menu_bottom div.corner_right {
    background: url(/images/m42.gif) repeat-y top right;
}

ul.menu_profile li {
    list-style: none;
}

ul.menu_profile li a {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

/********************/

.button_add_address {
    text-align: right;
}

/*** TOOLBARS ***/

div.toolbar_main {
    width: 1001px;
}

div.toolbar_main div.corner_left {
    background: url(/images/m7.gif) repeat-y top left;
}

div.toolbar_main div.content {
    background: url(/images/m8.gif) repeat-x;
    width: 980px;
    height: 22px;
    margin-left: 6px;
    margin-right: 7px;
    text-align: right;
    padding-top: 3px;
    padding-right: 9px;
}

div.toolbar_main div.corner_right {
    background: url(/images/m9.gif) repeat-y top right;
}

/*** CAPTCHA ***/
.recaptchatable #recaptcha_response_field {
    color: #FFFFFF;
}

/*** Checkout ***/

ul.delivery_list li.row {
    clear: both;
}

ul.methods_list {
    list-style: none;
    clear: both;
}

ul.methods_list li {
    display: inline;
    float: left;
}

ul.methods_list li.label {
    width: 570px;
    font-size: 11px;
}


ul.methods_list li.price {
    width: 100px;
}

div.added_quantity {
    padding-left: 10px;
}